/* font-family: 'Saira', sans-serif; */


/* font-family: 'Saira Condensed', sans-serif; */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.header {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(36, 2, 0);
    background: rgb(190, 208, 203);
    background: linear-gradient(0deg, rgba(190, 208, 203, 1) 8%, rgba(224, 187, 114, 0.8519782913165266) 60%);
}

.header__container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 10%;
}

.header__welcome {
    flex-basis: 100%;
    margin: 10px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.header__title {
    flex-basis: 100%;
    margin: 5px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.header__description {
    flex-basis: 100%;
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}

.header__button {
    margin: 20px 0;
    padding: 8px;
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.header__picture {
    width: 100%;
}

section {
    height: 100vh;
}

@media (orientation: landscape) {
    .header {
        flex-direction: row-reverse;
    }
    .header__container {
        justify-content: flex-start;
        width: 40%;
        margin: 0;
    }
    .header__welcome {
        margin-left: 0;
        text-align: left;
    }
    .header__title {
        margin: 0;
        text-align: left;
    }
    .header__description {
        text-align: left;
    }
    .header__button {
        flex-basis: 65%;
    }
    .header__picture {
        flex-basis: 60%;
        width: 50%;
    }
}